.register-card {
  max-width: 600px;
  width: 100%;
  border-radius: 12px;
   padding: 1.5rem;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
    font-size: 0.85rem;
}
h5 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2a4178; /* deep blue */
  margin: 1rem 0 0.5rem 0;
  text-align: center;
  letter-spacing: 1px;
}

.btn-primary {
  border-radius: 8px;
  padding: 0.6rem;
  font-weight: 500;
}

.btn-outline-secondary {
  margin-top: 10px;
  border-radius: 8px;
  padding: 0.6rem;
  font-weight: 500;
}




